{% extends 'core_designs/base.html' %}


{% block content %}
        <!-- Main Content -->
       
            <section class="content-boxes">
                <div class="box" onclick="navigateToPage('/tool1')">
                    <h3>Tool 1</h3>
                </div>
                <div class="box" onclick="navigateToPage('/tool2')">
                    <h3>Tool 2</h3>
                </div>
                <div class="box" onclick="navigateToPage('/tool3')">
                    <h3>Tool 3</h3>
                </div>
                <div class="box" onclick="navigateToPage('/tool4')">
                    <h3>Tool 4</h3>
                </div>
            </section>
    
{% endblock %}